version: "2.3"

services:
  ml_service:
    ulimits:
      stack: 8388608    
      nproc: 40960
    image: ghcr.io/muhammadhaggy/skripsi/ml-ci:latest
    container_name: ml_service
    ports:
      - "5001:5001"
    environment:
      STORAGE_API_KEY: ${STORAGE_API_KEY}
      PYTHON_PATH: python
      TV_CUDA_INCLUDE_DIRS: /usr/local/lib/python3.10/dist-packages/cumm/include
      CUMM_INCLUDE_DIRS: /usr/local/lib/python3.10/dist-packages/cumm/include
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:5001/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always
    ipc: "host"
    security_opt:
      - seccomp=unconfined
